{% extends 'catalog/base.html' %}
{% load mediapath from template_filters %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="photo">
            <!--      <img src="{{ object.image|mediapath }}" alt="" border=5 height=200 width=300>-->
            <img src="{% mediapath object.image %}" alt="" border=5 height=200 width=300>
            <div class="description">
                <h2>{{object.name_product}}</h2>
                <h4>{{object.category.category_name}}</h4>
                <h1>{{object.price}} $ </h1>
                <p>{{object.title|truncatechars:100}}</p>
                <button> <a class="btn bth_outline_success" href="{% url 'catalog:update_product' object.pk %}">
                    Изменить
                </a></button>
                 <button> <a class="btn bth_outline_success" href="{% url 'catalog:update_product_version' object.pk %}">
                    Изменить c версией
                </a></button>
                 <button> <a class="btn bth_outline_success" href="{% url 'catalog:delete_product' object.pk %}">
                     Удалить
                </a></button>
            </div>
        </div>
    </div>

    {% endblock %}

